<footer>
  <div class="container-fluid mx-auto p-5">
    <div class="row text-center">
      <a href="https://www.facebook.com/" target="_blank">
        <button type="button" class="btn btn-primary btn-block mb-4">
          facebook
        </button>
      </a>
      <a href="https://www.instagram.com/" target="_blank">
        <button type="button" class="btn btn-primary btn-block mb-4">
          instagram
        </button>
      </a>
      <div>
        <address>
          <p>COORDONNEES ANGULARIX SARL</p>
          <p>3 rue des Betteraviers</p>
          <p>76360 COLLEVILLE</p>
          <a href="mailto:jim@example.com">angularix'&#64;gmail.com</a><br />
          <a href="tel:+14155550132">+1 (415) 555‑0132</a>
        </address>
      </div>
    </div>
  </div>
</footer>
