<div className="accueil">
  <body>
    <h2 class="center">Notre entreprise "AU PETIT VILLAGE"</h2>
    <p>
      Créée par des passionnés de la fameuse bande dessinnée de GOSCINY et
      UDERZO, cette entreprise réalise des figurines des principaux personnages
      en sucre d'orge pour régaler petits et grands.
    </p>
    <p>
      Notre entreprise s'est implantée en Normandie. Nous n'utilisons que des
      prosduits de circuits courts et issus de l'agricultue biologique
    </p>
    <p>
      Nous réalisons nos figurines à la commande selon les tailles demandées
    </p>
    <br />
    <p>La livraison est réalisée sous 48 heures</p>
    <h3>Catalogue des figurines réalisables en sucre d'orge</h3>
  </body>
</div>
