<div className="about">
  <body>
    <h1>A PROPOS DE NOTRE ENTREPRISE</h1>
    <h2>Notre entreprise "AU PETIT VILLAGE"</h2>

    <p>
      Notre entreprise s'est implantée en Normandie. Nous n'utilisons que des
      produits de circuits courts et issus de l'agriculture biologique
    </p>
    <p>
      Nous utilisons le produits locaux, apportant ainsi un complément de
      rémuération aux agriculteurs> Nous sommes implantés à colleville sur le
      site de l'ancienne sucrerie
    </p>
    <br />
    <p>La livraison est réalisée sous 48 heures</p>
    <img [src]="" />
  </body>
</div>
