<div className="about">
  <body class="p-5">
    <h1>A PROPOS DE NOTRE ENTREPRISE</h1>
    <br />
    <p>Notre entreprise "AU PETIT VILLAGE"</p>
    <div class="contenair">
      <div class="logoangularix">
        <img
          src="/Logo.jpg"
          alt="logo société angularix representant un casque gaulois couronné du texte au petit village"
        />
      </div>
    </div>

    <p class="px-5">
      Notre entreprise s'est implantée en Normandie. Nous n'utilisons que des
      produits de circuits courts et issus de l'agriculture biologique
    </p>
    <p class="px-5">
      Nous utilisons des produits locaux, apportant ainsi un complément de
      rémunération aux agriculteurs. Nous sommes implantés à Colleville en
      Normandie, sur le site de l'ancienne sucrerie
    </p>
    <br />
    <p>La livraison est réalisée sous 48 heures</p>
    <div class="usine mx-auto my-5">
      <img src="/sucrerie.jpg" alt="image d'une usine sucrerie" />
    </div>
  </body>
</div>
